<p id="notice"><%= notice %></p>

<h1>Groups</h1>
<% @groups.each do |group| %>
      <ul>
        <li><%= link_to group['name'] , group %></li>
        <td><%#= link_to 'Show', group_path(group) %></td>
        <td><%#= link_to 'Edit', edit_group_path(group) %></td>
        <td><%#= link_to 'Destroy', group_path(group), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </ul>
    <% end %> 
<%= link_to 'New Group', new_group_path %>
