<div class="row">
  <div class="col-md-6 col-md-offset-3">
  	<%= render 'posts/form', post: @post %>
  	<%= render 'shared/post_card' , post: @post %>  
  </div>
</div>  

<div class = "add-people">
  <%= link_to 'Add people' , new_invitation_path %>
</div>
      

